In [1]:
# Working with databases in Python
# -----------------------------------------------------------------------
import psycopg2
from psycopg2 import OperationalError, errorcodes, errors

# Working with Dataframes
# -----------------------------------------------------------------------
import pandas as pd
import numpy as np

# Path configuration for custom module imports
# -----------------------------------------------------------------------
import sys
sys.path.append('../')  # Adds the parent directory to the path for custom module imports

from src.support import table_creation, data_insertion
from src.support_queries import query_creation_ingresos, query_creation_gastos, query_creation_hospitales, query_creation_tipo_hosp

### Creaci칩n de tablas

In [2]:
# List of queries ordered
queries = [query_creation_hospitales, query_creation_tipo_hosp, query_creation_gastos, query_creation_ingresos]

In [3]:
table_creation(queries)

Tables created successfully.
Database connection closed.

### Inserci칩n datos

In [ ]:
# Hospitales
query_insertion_hospitales = """
INSERT INTO hospitales (ncodi, name)
VALUES
(%s, %s);
"""

# Tipo hospitalizaci칩n
query_insertion_tipo_hosp = """
INSERT INTO tipo_hospitalizacion (tipo_id, nombre)
VALUES
(%s, %s);
"""

# Gastos
query_insertion_gastos = """
INSERT INTO gastos (anio, totalcompra, producfarma, materialsani, implantes, restomateriasani, servcontratado, trabajocontratado, xrestocompras variaexistencias, servexteriores, sumistro, xrestoserviexter, gastopersonal, sueldos, indemnizacion, segsocempresa, otrgassocial, dotaamortizacion, perdidadeterioro, xrestogasto, totcompragasto, ncodi)
VALUES
(%s, %s, %s, %s, %s, %s, %s, %s, %s, %s, %s, %s, %s, %s, %s, %s, %s, %s, %s, %s, %s, %s, %s, %s)
"""

# Ingresos
query_insertion_ingresos = """
INSERT INTO ingresos (particulares, aseguradoras, aseguradoras_enfermedad, aseguradoras_trafico, mutuas, tipo_id, anio, ncodi)
VALUES
(%s, %s, %s, %s, %s, %s, %s)
"""

In [63]:
df_gastos = pd.read_csv('../data/gastos.csv')
df_ingresos = pd.read_csv('../data/ingresos.csv', index_col=0)

In [64]:
# Reemplazamos NaN por 0
df_gastos['ncodi'].replace({np.nan: 0}, inplace=True)
df_gastos['ncodi'] = df_gastos['ncodi'].astype(int)

/var/folders/gf/rtshnkx974q994djpf858hv40000gn/T/ipykernel_61546/636064590.py:2: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  df_gastos['ncodi'].replace({np.nan: 0}, inplace=True)

In [65]:
df_ingresos['ncodi'] = df_ingresos['ncodi'].str.replace(',', '.').astype(float)
df_ingresos['ncodi'].replace({np.nan: 0}, inplace=True)
df_ingresos['ncodi'] = df_ingresos['ncodi'].astype(int)

/var/folders/gf/rtshnkx974q994djpf858hv40000gn/T/ipykernel_61546/1631407132.py:2: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  df_ingresos['ncodi'].replace({np.nan: 0}, inplace=True)

In [73]:
df_tipo_hosp = pd.Series(df_ingresos['tipo'].unique()).reset_index().rename(columns={'index': 'tipo_id', 0: 'nombre'})

In [77]:
df_ingresos.map()

,particulares,aseguradoras,aseguradoras_enfermedad,aseguradoreas_trafico,mutuas,tipo,a침o,ncodi
0,0.0,103677.0,64383.0,39294.0,61456.0,Hospital,2013,990
1,324687.0,478280.0,392084.0,86196.0,484228.0,Hospital,2013,680
2,793512.0,1803352.0,1803352.0,0.0,20402.0,Hospital,2013,411
3,0.0,0.0,0.0,0.0,0.0,Hospital,2013,241
4,24406.0,63557.0,55091.0,8466.0,44106.0,Hospital,2013,558
...,...,...,...,...,...,...,...,...
55321,0.0,0.0,0.0,0.0,0.0,hospDom,2016,970
55322,0.0,0.0,0.0,0.0,0.0,hospDom,2016,1019
55323,0.0,0.0,0.0,0.0,0.0,hospDom,2016,1016
55324,0.0,0.0,0.0,0.0,0.0,hospDom,2016,1047
55325,0.0,0.0,0.0,0.0,0.0,hospDom,2016,635

In [76]:
df_tipo_hosp

   tipo_ingreso_id       nombre
0                0     Hospital
1                1  consulExter
2                2          CMA
3                3      hospDia
4                4     Urgencia
5                5      hospDom

In [ ]:
    anio INT not null,
    totalcompra NUMERIC, 
    producfarma NUMERIC, 
    materialsani NUMERIC, 
    implantes NUMERIC, 
    restomateriasani NUMERIC, 
    servcontratado NUMERIC , 
    trabajocontratado NUMERIC , 
    xrestocompras NUMERIC , 
    variaexistencias NUMERIC , 
    servexteriores NUMERIC , 
    sumistro NUMERIC , 
    xrestoserviexter NUMERIC , 
    gastopersonal NUMERIC , 
    sueldos NUMERIC , 
    indemnizacion NUMERIC , 
    segsocempresa NUMERIC , 
    otrgassocial NUMERIC , 
    dotaamortizacion NUMERIC, 
    perdidadeterioro NUMERIC, 
    xrestogasto NUMERIC , 
    totcompragasto NUMERIC,
    ncodi INT references hospitales(ncodi)

In [70]:
df_gastos.columns

Index(['a침o', 'ncodi', 'totalcompra', 'producfarma', 'materialsani',
       'implantes', 'restomateriasani', 'servcontratado', 'trabajocontratado',
       'xrestocompras', 'variaexistencias', 'servexteriores', 'sumistro',
       'xrestoserviexter', 'gastopersonal', 'sueldos', 'indemnizacion',
       'segsocempresa', 'otrgassocial', 'dotaamortizacion', 'perdidadeterioro',
       'xrestogasto', 'totcompragasto'],
      dtype='object')

In [ ]:
df_gastos = df_gastos.reindex(['a침o', 'totalcompra', 'producfarma', 'materialsani',
       'implantes', 'restomateriasani', 'servcontratado', 'trabajocontratado',
       'xrestocompras', 'variaexistencias', 'servexteriores', 'sumistro',
       'xrestoserviexter', 'gastopersonal', 'sueldos', 'indemnizacion',
       'segsocempresa', 'otrgassocial', 'dotaamortizacion', 'perdidadeterioro',
       'xrestogasto', 'totcompragasto', 'ncodi'], axis=1)

In [ ]:
values_hospitales = [tuple(row) for row in df_hospitales.values]
data_insertion(query_insertion_hospitales, values_hospitales)

values_tipo_hosp = [tuple(row) for row in df_tipo_hosp.values]
data_insertion(query_insertion_tipo_hosp, values_tipo_hosp)

values_gastos = [tuple(row) for row in df_gastos.values]
data_insertion(query_insertion_gastos, values_gastos)

values_ingresos = [tuple(row) for row in df_ingresos.values]
data_insertion(query_insertion_ingresos, values_ingresos)